# macOS
.DS_Store

# Python
__pycache__/

# PyCharm
.idea

# Package files
*.egg-info

# Temporary and binary files
*.swp

# Build files
build/*

# VSCode
.vscode

# Local Pylint config
/pylintrc

# pytest and pytest-cov
/tests/.coverage*
/tests/.pytest_cache/
/tests/htmlcov/
/.coverage*
/.pytest_cache/
/htmlcov/

# Pictures created by backtesting
*.png