# macOS
.DS_Store

# Python
__pycache__

# PyCharm
.idea

# Package files
*.egg-info

# Temporary and binary files
*.swp

# Build files
build

# VSCode
.vscode

# Testing
.tox
.coverage
.coverage.*
.hypothesis
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov

# Pictures created by backtesting
*.png

# Folders that are temporarily created when building the documentation
docs/_autosummary
docs/examples
docs/sdk