# FORMATTER NOTE: The versions of ufmt, black and usort should be consistent everywhere
# (pre-commit, environment.yml, requirements.txt, pyproject.toml, ...)

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      additional_dependencies: [pydoclint]  
      args: [--select=DOC, --config=pydoclint.toml]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.6
  hooks:
  - id: ruff
    name: "ruff"
  - id: ruff-format
- repo: https://github.com/crate-ci/typos
  rev: v1.16.23
  hooks:
    - id: typos
      exclude_types: [svg]
      args: [] # empty args to avoid typos automatically correcting the typos

