# FORMATTER NOTE: The versions of the developer tools should be consistent everywhere
# (pre-commit, environment.yml, requirements.txt, pyproject.toml, ...)

ci:
  autoupdate_schedule: quarterly
  autofix_prs: false

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      additional_dependencies: [pydoclint==0.5.5]  
      args: [--select=DOC, --config=pydoclint.toml]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.25
  hooks:
    - id: uv-lock
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

