# Constraints Discrete

These examples demonstrate how
{ref}`Discrete Parameter Constraints <components/constraints:discrete constraints>`
can be applied to discrete search spaces.
```{toctree}
:maxdepth: 1

Dependency <dependency_constraints>
Exclusion <exclusion_constraints>
Custom <custom_constraints>
Product/Sum <prodsum_constraints>
```