# Constraints Discrete

These examples demonstrate how
{ref}`Discrete Parameter Constraints <userguide/constraints:discrete constraints>`
can be applied to discrete search spaces.
```{toctree}
:maxdepth: 1

Custom <custom_constraints>
Dependency <dependency_constraints>
Exclusion <exclusion_constraints>
Product/Sum <prodsum_constraints>
```